/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #00000034;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3877a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0e3d5f;
}

.card {
	background-color: #0e3d5f;
	border: 0px;
	border-radius: 5px;
	padding: 5px;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.no-deco {
	text-decoration: none;
}

.ellipsis {
	text-align: left;
	max-width: 10ch;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.text-shadow {
	background: #0000007a;
	border-radius: 3px;
	padding: 3px 3px;
	width: 100%;
}

.contenedor {
	max-width: 1440px;
	margin: auto;
	padding: 0px 0;

	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 10px;
}

.contenedor-tarjetas {
	display: grid;
	/*grid-template-columns: repeat(7, 1fr);*/
	grid-template-columns: repeat(auto-fill, 150px);
	grid-template-rows: repeat(auto-fill, 220px);
	gap: 15px;
}

.contenedor-favoritos {
	display: grid;
	/*grid-template-columns: repeat(6, 1fr);*/
	grid-template-columns: repeat(auto-fill, 150px);
	grid-template-rows: repeat(auto-fill, 220px);
	gap: 15px;
	place-content: center;
}

.tarjeta {
	border-radius: 8px;

	font-weight: bold;
	padding: 5px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	min-height: 220px;
	max-height: 300px;
	max-width: 150px;
	cursor: pointer;
}

.tarjeta .textos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.tarjeta .textos .tarjeta-header {
	display: flex;
	flex-direction: row;
}

.tarjeta .textos .tarjeta-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contenedor-banner {
	width: 100%;
	display: grid;
	grid-template-rows: auto;
	gap: 10px;
}

.banner {
	border-radius: 8px;
	text-align: center;
	padding: 10px;
	background-size: cover;
	background-position: center center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 1920px) {
	.card {
		width: 80%;
	}

	.ellipsis {
		text-align: left;
		max-width: 10ch;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.text-shadow {
		background: #0000007a;
		border-radius: 3px;
		padding: 3px 3px;
		width: 100%;
	}

	.contenedor {
		max-width: 1400px;
		display: grid;
		grid-template-columns: 5fr 1fr;
		gap: 15px;
		/*inline-size: fit-content;*/
		padding-left: 6px;
		padding-right: 6px;
	}

	/*.contenedor-tarjetas {
		display: grid;
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		/*grid-template-columns: repeat(5, 1fr);
		gap: 15px;
	}

	.contenedor-favoritos {
		display: grid;
		/*grid-template-columns: repeat(7, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
		place-content: center;
	}*/

	.tarjeta .textos {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}

	.tarjeta .textos .tarjeta-header {
		display: flex;
		flex-direction: row;
	}

	.tarjeta .textos .tarjeta-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.contenedor-banner {
		width: 100%;
		display: grid;
		grid-template-rows: auto;
		gap: 10px;
		align-self: baseline;
	}

	.banner {
		border-radius: 8px;
		text-align: center;
		padding: 10px;
		background-size: cover;
		background-position: center center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: fit-content;

	}

	.banner ul {
		list-style: none;
	}

	.banner ul li {
		margin: 15px;
		font-weight: bold;
	}

	.banner .boton {
		background: #FFD600;
		display: block;
		width: 100%;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		padding: 10px;
		border: none;
		border-radius: 100px;
		font-family: 'Roboto', sans-serif;
		cursor: pointer;
	}

}

@media screen and (max-width: 1440px) {
	.contenedor {
		width: 1260px;
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 15px;
		padding-left: 12px;
		padding-right: 12px;

	}

	/*.contenedor-tarjetas {
		display: grid;
		/*grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
	}

	.contenedor-favoritos {
		display: grid;
		/*grid-template-columns: repeat(7, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
		place-content: center;
	}*/

	.contenedor-banner {
		width: 100%;
		display: grid;
		grid-template-rows: auto;
		gap: 10px;
		align-self: baseline;
	}

	.banner {
		border-radius: 8px;
		text-align: center;
		padding: 10px;
		background-size: cover;
		background-position: center center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: fit-content;

	}


}

@media screen and (max-width: 1280px) {
	.card {
		width: 100%;
	}

	.ellipsis {
		text-align: left;
		max-width: 15ch;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.contenedor {
		width: 890px;
		display: grid;
		grid-template-columns: 5fr 1fr;
		gap: 15px;
		padding-left: 12px;
		padding-right: 12px;
	}

	/*.contenedor-tarjetas {
		display: grid;
		/*grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
	}

	.contenedor-favoritos {
		display: grid;
		/*grid-template-columns: repeat(7, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
		place-content: center;
	}*/

	.contenedor-banner {
		width: 100%;
		display: grid;
		grid-template-rows: auto;
		gap: 10px;
		align-self: baseline;
	}

	.banner {
		border-radius: 8px;
		text-align: center;
		padding: 10px;
		background-size: cover;
		background-position: center center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: fit-content;

	}

}

@media screen and (max-width: 800px) {
	.card {
		width: 100%;
	}

	.contenedor {
		inline-size: fit-content;
		display: flex;
		flex-direction: column;
	}

	.contenedor-tarjetas {
		display: grid;
		/*grid-template-columns: repeat(3, 1fr);
		align-self: center;*/
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;

		place-content: center;
	}

	/*.contenedor-favoritos {
		display: grid;
		/*grid-template-columns: repeat(3, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
		place-content: center;
	}*/

	.contenedor-banner {
		width: 640px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		align-self: center;
	}

	.banner {
		border-radius: 10px;
		text-align: center;
		background-size: cover;
		background-position: center center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


}

@media screen and (max-width: 600px) {
	.card {
		width: 100%;
	}

	.contenedor {
		max-width: 390px;
		padding: 0px 0;

		display: flex;
		flex-direction: column;
	}

	.contenedor-tarjetas {
		display: grid;
		/*grid-template-columns: repeat(2, 1fr);
		align-self: center;*/
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		place-content: center;
	}

	/*.contenedor-favoritos {
		display: grid;
		/*grid-template-columns: repeat(2, 1fr);
		grid-template-columns: repeat(auto-fill, 150px);
		grid-template-rows: repeat(auto-fill, 220px);
		gap: 15px;
		place-content: center;
	}*/

	.tarjeta .textos {

		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: auto;
	}

	.tarjeta .textos .tarjeta-footer {
		display: flex;
		flex-direction: row;

	}

	.contenedor-banner {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 420px;
	}

}