.res {}

.displayNone {
    display: none;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.catTitle {
    color: #3a78e2;
}

.result {
    border-radius: 3px;
    transform: scale(1);
    transition: all .25s ease-out;
}

.result a {
    text-decoration: none;
    color: #a7c7ff;
}

.result a:hover {

    transform: scale(1.01);
    transition: .1s ease-in;
}

#searchInputModal {
    background-color: #0c2638;
    border: none;
    color: #a9dbff;
    border-radius: 20px 20px;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 992px) {}

/* RESPONSIVE CAROUSEL */
@media screen and (max-width: 960px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 400px) {}
